<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Jdbc_8_2019-master/src/main/java/com/laptrinhjavaweb/repository/impl/EntityManagerFactory.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.laptrinhjavaweb.repository.impl.EntityManagerFactory"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Jdbc_8_2019-master"/>
</launchConfiguration>
